<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Clients Résidentiels</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <%- include('link') %>
    <%- include('header') %>

  <br>

  <div class="container-lg mt-3">
<header>
    <h1>Clients Résidentiels</h1>
</header>
<br>
<main>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Rôles</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user) => { %>
              <% user.roles.forEach((role) => { %>
                    <% if(role == "residential") { %>
                    <tr>
                        <td><%= user.firstName %></td>
                        <td><%= user.lastName %></td>
                        <td><%= role %></td>
                    </tr>

                <% } %>
                <% }) %>
                <% }) %>

        </tbody>
      </table>
    </main>
  </div>
    <%- include('footer') %> <!-- Inclure le footer -->
</body>
</html>