<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Utilisateurs</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <%- include('header') %>
  
  <br>

  <header>
  <h1>Utilisateurs</h1>
  </header>
  <main>
  <form action="/addUser" method="POST">
    <button type="submit">Créer Utilisateurs</button>
  </form>
  <!-- Add User Modal -->
<div id="addUserModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="addUserForm">
      <h2>Add User</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required><br>
      <label for="role">Role:</label>
      <select id="role" name="role" required>
        <option value="admin">Admin</option>
        <option value="residential">Residential</option>
        <option value="business">Business</option>
      </select><br>
      <button type="submit">Create User</button>
    </form>
  </div>
</div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Identifiant</th>
        <th>Utilisateur</th>
        <th>Rôles</th>
        <th>Bloqué</th>
        <th>Mot de passe modifié</th>
        <th>Dernière connexion</th>
        <th>Login attempts</th>
        <th>Actions</th>
      </tr>
    </thead>
    <br>

    <tbody>
      <% users.forEach((user) => { %>
        <tr>
          <td><%= user._id %></td>
          <td><%= user.username %></td>
          <td>
            <% user.roles.forEach((role) => { %>
              <%= user.roles %><br>
            <% }) %>
          </td>
          <td><%= user.blocked %></td>
          <td><%= user.passModified %></td>
          <td><%= user.lastLoginDate %></td>
          <td>Good: <%= user.goodConnexions %> Bad: <%= user.badConnexions %></td>
          <td>
            <div class="dropdown">
              <button class="dropbtn">Actions</button>
              <div class="dropdown-content">
                <a href="#">Ajouter rôle admin</a>
                <a href="#">Ajouter rôle résidentiel</a>
                <a href="#">Ajouter rôle affaire</a>
                <a href="#">Réinitialiser mot de passe</a>
              </div>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<%- include('footer') %> <!-- Inclure le footer -->
</body>
</html>